html {
    scroll-behavior:smooth;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.overlay {
    z-index: 999;
}

/* componente home */

.home {
    margin-top: 6rem;
}



.mb-1 {
    width: 100%;
}



.d-lg-none {
    position: absolute;
    left: 16.5rem;
    top: 6.5rem;
    
    transition: all 300ms;
    
    
    
}

.mb-3 {

    margin-top: 1.5rem;
}


.mb-3 {
    height: 55px;
}

.btn-search{
    width: 94.5%;
    
}

.list-category {
    cursor: pointer;
    list-style: none;
    border-radius: 10px;
}

.list-category:active {
    background-color: #008cba;
}


span {
    color: rgb(189, 184, 184);
    font-weight: 900;
    border-radius: 10px;
}

.btn-add-car {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#button-addon1 {
    padding-left: 2rem;
    padding-right: 2rem;

}

/* inicia card */
.home-card{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    
}
.container-card-product{
    height: 300px;
    width: 10%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
    margin-left: 3rem;
   
}
.card-home{
    margin-left: -1rem;

}

.img-card{
    height: 150px;
    width: 100%;
   
}
.img-product{
    height: 150px;
    object-fit: contain;
}
.card-info{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.column-car{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    
}

.container-btn-car{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

  


}

.containter-btn-add-car{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/* termina car */

/* componente products id */





.component-productsid{
    
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    
    
}

.container-info-productId{
 
   
    display: flex;
    width: 100%;
    justify-content: center;
    justify-items: center;
    justify-items: center;

}

.info-productid{
  
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-right: 2rem;
    padding: 1rem;
    

}
.price-quantity{
    display: flex;
    justify-content: space-between;
   
}
.lo{
    height: 50px;
}

.price-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.quantity{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 1rem;
   

}

.quaintity-info{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    

}

.btn-quantity{
    width: 50px;
    text-align: center;
    border: 1px solid rgba(230, 217, 217, 0.927);
    padding: .5rem;

}
.text-description{
    text-align: justify;
    
}
.Title-productsId{
    display: flex;
    justify-content: start;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin-bottom: 3rem;
    gap: 1rem;
}
small{
   display: flex;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
}
.link-producid{
    text-decoration: none;
}
.container-info-productId{
   
    display: flex;
    margin-top: 5rem;
    padding: 1rem;
    
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: red
}


.carrusel{
    
    width: 100%;
    height: 150px;
    margin-bottom: 12rem;
}
.d-block{
    height: 300px;
    object-fit: contain;

}

/* similar products */
.title-card-similar{
    margin-left: 7rem;
    margin-bottom: 4rem;
    text-decoration: none;
}

/* footer */
.App{
  
    position: relative;
 
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.763);
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    color: white;
    height: 50px;
    padding: 3rem;

}
.footer-icons{
    display: flex;
    justify-content: center;
  
}
.title-footer{
    margin-top: 2rem;
}





/* media query */
@media (min-width: 900px){
    .column-car{
     gap: 0;
        
    }
    .info-productid{
  
        display: flex;
        flex-direction: column;
        width: 220%;
        margin-bottom: 3rem;
        margin-top: 4rem;
        margin-right: 2rem;
    
    }
    .info-productid{

        padding: 2rem;
    
    }
    .card-home{
        margin-left: 1rem;
    
    }
    
    
    
}