* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .overlay {
    z-index: 999;
} */

/* componente home */

.home {
    margin-top: 6rem;
}

.App {
    display: flex;
    margin: 0;
    padding: 0;
}

.mb-1 {
    width: 100%;
}



.d-lg-none {
    position: absolute;
    left: 17.7rem;
    top: 12.5rem;
    
    transition: all 300ms;
    
    
    
}

.mb-3 {

    margin-top: 1.5rem;
}


.mb-3 {
    height: 55px;
}

.btn-search{
    width: 94.5%;
    
}

.list-category {
    cursor: pointer;
    list-style: none;
    border-radius: 10px;
}

.list-category:active {
    background-color: #008cba;
}


span {
    color: rgb(189, 184, 184);
    font-weight: 900;
    border-radius: 10px;
}

.btn-add-car {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#button-addon1 {
    padding-left: 2rem;
    padding-right: 2rem;

}

/* inicia card */
.home-card{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    
}
.container-card-product{
    height: 300px;
    width: 100%;
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   margin: 1rem;
   
}

.img-card{
    height: 150px;
    width: 100%;
   
}
.img-product{
    height: 150px;
    object-fit: contain;
}
.card-info{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.column-car{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    
}

.container-btn-car{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

  


}

.containter-btn-add-car{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

/* termina car */



/* media query */
@media (min-width: 900px) {
    .column-car{
     gap: 0;
        
    }
    
    
}