* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.overlay {
    z-index: 999;
}

/* componente home */

.container-home {
    display: flex;
    width: 100%;
   

}

.home {
    margin-top: 6rem;

}

.img-car {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
   
}
.purchases{
    padding: 10rem;
}


.App {

    display: flex;
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    margin-top: 6rem;

}

.mb-1{
    width: 100%;
}

.d-lg-none{
    position: absolute;
    left: 9rem;
    top: 14rem;
}

.mb-3 {

    margin-top: 1.5rem;
}
.card-products {
    width: 100%;
    margin: 1.2rem;
    padding: 1rem;
    box-shadow: 1px 1px 5px 1px gray;
    cursor: pointer;
}

.mb-3 {
    height: 55px;
}

.list-category {
    cursor: pointer;
    list-style: none;
    border-radius: 10px;
}
.list-category:active {
  background-color: #008cba;
}


span {
    color: rgb(189, 184, 184);
    font-weight: 900;
    border-radius: 10px;
}

.home-card {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    
}

.btn-add-car{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#button-addon1{
    padding-left: 2rem;
    padding-right: 2rem;

}


    
